<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Tra cứu phiếu mua</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a asp-action="Tracking" asp-controller="TrackingOrder">Danh sách tra cứu </a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap" style="padding-bottom:60px;">
    <div class="container">
        <div class="tracking_box_inner">
            <p>
                Để tra cứu đơn hàng, vui lòng nhập Mã đơn hàng vào ô bên dưới và nhấn nút "Tra cứu". Mã đơn hàng đã được cung cấp trên biên lai và trong email xác nhận mà bạn đã nhận được.
            </p>
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Mã đơn hàng" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mã phiếu mua'">
                </div>
                @*  <div class="col-md-12 form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                </div>  *@
                <div class="col-md-12 form-group">
                    <button class="primary-btn" style="border-radius:2px;border:none" id="btnOrderFind">Tra Cứu</button>
                </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
<!-- start footer Area -->
<div id="partialOrder">

</div>

<script>
    $(document).ready(function () {
        $('#btnOrderFind').click(function () {
            var maOrderView = $('#orderId').val();
            $.ajax({
                url: '/TrackingOrder/TrackingDetails',
                type: 'GET',
                data: {
                    orderId : maOrderView
                },
                success:function(response){
                    $('#partialOrder').html(response);
                }
            });
        });
    });
</script>