@model int
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Đặt Hàng Thành Công</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Đặt Hàng Thành Công</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Order Details Area =================-->
<section class="order_details section_gap">
	<div class="container">
		<h3 class="title_confirmation" style="margin-bottom:8px">Đặt hàng thành công. Cám ơn bạn đã đặt hàng!</h3>
		<h3 class="title_confirmation" style="margin-bottom:50px;">Mã đơn hàng của bạn: @Model</h3>
</div>
</section>